.container {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}

.button {
	padding: 10px 20px;
}

.button:hover:not([disabled]) {
	background-color: rgb(200, 194, 194);
	transition: 0.5s;
}
